body{
	margin:0;
	font-family: 'Montserrat', sans-serif;
}
.text, #services p{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.padding-15{
	padding:15px;
}
.margin-15{
	margin: 15px;
}
.margin-top-60{
	margin-top: 60px;
}
.white{
	color: #fff;
}
.bg-gray{
	background-color: #efefef;
}
.text-gray{
	color: #6F7071;
}


ul{
	list-style: none;
	margin-left: -35px;
}

.horse{
	width: 60px;
}

.top{
	margin-top: 7%;
	min-height: 400px;
}


.bar{
	background-color: #6F7071;
	width: 50px;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.img-high-responsive{
	height: 100vh;
}









nav{
	font-size: 17px;
	color: #000;
}
nav img{
	background-color: transparent;
	width: 35px;
	margin-left:0; 
	transition: all 0.5s ease;
}
.logo{
	position: fixed;
	top: 15px;
}
.invisibile{
	margin-left:-15px;
	background-color: #000;
}
.menu{
	left: 0;
	position: fixed;
	top: 60px;
	z-index: 999;

}
.menu i{
	font-size: 22px;
	height: 35px;
	width: 35px;
	background-color: #000;
	text-align: center;
	padding: 7px;
	transition: all 0.5s ease;
}
.menu-move{
	margin-left: -15px;
	color: #000;
}
.menu-text{
	opacity: 0;
	transition: all 0.5s ease;
}


#indicator{
	display: block;
	position: absolute;
	z-index: 999;
	right: 90px;
	transition: all 0.5s ease;
}
.carousel-control{
	display: block;
	 width: 75px;
    height: 75px;
}
.rotateY-right{
	  
	
}
.rotateY-left{
	      

}
.fa-arrow-left, .fa-arrow-right{
	padding: 5px;
	transform: rotate(-45deg);
	position: absolute;
	color: #A9A9A9;
}
.fa-arrow-left{
	top: 46px;
}
.fa-arrow-right{
	right: 1px;
    top: 2px;
}
.fa-arrow-left:hover, .fa-arrow-right:hover{
	color: #fff;
	opacity: 1;
}

.fa-arrow-left:hover{

}
.carousel-indicators-text{
	transform: rotate(-45deg);
    text-align: center;
    top: 29px;
    left: 20px;
    position: relative;
    font-size: 12px;
}















.bg-white{
	background-color: #fff;
}
.bg{
	position: relative;
	height: 100vh;
	transition: all 0.5s ease;
	background-size: cover;
	overflow: hidden;
}


.case-img-device{
	left: 0;
	top: 0;
	width: 100%;
	position: absolute;
	opacity: 0;
	transition: all 0.5s ease;
}
.case-title{
	text-transform: uppercase;
	letter-spacing: -0.02em;
	margin-top: 90px;
	font-size: 6.5em;
	line-height: 1;
	transition: all 0.5s ease;
}
.case-details{
	margin-top: -72px;
	transition: all 0.5s ease;
}

.details{
	z-index: 99;
	position: absolute;
	bottom: 60px;
	left: 50%;

}














.case-title:hover{
	cursor: pointer;
}
.details:hover{
	background-color: ;
	border: 3px solid #fff;
}


.case-title-move-up{
	position: relative;
	margin-top: -65%;
	
}

.case-details-move{
	color: white;
	margin-top: -10%;
}
.show-img{
	opacity: 1;
	transform:scale(1.02,1.02);
}











.bg-example {
	position: relative;
background-image: url("../img/testing3.jpg");
}


.bg-coffee {
	background-image:  url("../img/bg-coffee5.jpg");

}
.text-coffee{
	color: #645140;
}
.bg-ets{
	background-image:  url("../img/bg-ets2.jpg");
}
.text-ets{
	color: #184343;
}

.bg-tea{
	background-image:  url("../img/bg-tea6.jpg");
}
.text-tea{
	color: #3BC449;
}
.bg-roofing{
	background-image:  url("../img/bg-roofing.jpg");
}
.text-roofing{
	color: #062A4C;
}
.bg-studio{
	background-image:  url("../img/bg-drawing.jpg");
}
.text-studio{
	color: #008359;
}




@media (max-width: 992px){
	.case-details{
		margin: 0;
	}
	.details{
		position: relative;
		left: inherit;
		bottom: inherit;
	}
	.case-title{
		margin-top: 90px;
		font-size: 4.5em;
	}
	.top{
	margin-top: 0;
	min-height: 100px;
}
	.bg-white{
	background-color: transparent;
}
	.move-up{
	margin-top: none;
	
}

	.move-down{
	color: inherit;
	margin-top: 0%;
}
	.show-img{
	opacity: 0;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);

}
.carousel-indicators .active {

  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;

}

}




.follow{
	margin-left: -15px;
}
.follow .fa{
	padding: 15px;
}
.follow .fa:hover{
	transform: translateY(-5px);
}












.artwork{
	display: inline-block;
	float: left;
	margin: 15px;
	position: relative;
	width: 200px;
	transition: all 0.5s ease;
}
.artwork img{
	width: 100%;
}

.artwork-width{
	width: 300px;
}
.mask{
	padding: 15px;
	opacity: 0;
	background-color: black;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	transition: all 0.5s ease;
}
.mask:hover{
	opacity: 1;
	cursor: pointer;
}















#services p{
	font-size: 85%;
}

#services .col-md-3, #services .col-sm-6{
	margin-bottom: 30px;
}

#services .title{
	opacity: 0;
}
#services .contants:hover{
	cursor: pointer;
}
#services .contants:hover .title{
	opacity: 1;
	
}
@media (max-width: 992px){
	.contants{
	border: 1px solid silver;
}
#services .title{
	opacity: 1;
}

}
