.container-fluid{
	width: 100%;
}
.hidden{
	transition: all 0.6s;
}
img+img{
	width: 100%;
	margin-bottom: 120px;
}
.padding-15{
	padding: 15px;
}
.black-bg{
	background-color: #000;
	color: #fff;
}
.project-info a{
	margin-top:15px;
	color: #000;
	border: 2px solid #000;
	padding: 5px;
	transition: all 0.6s;
}
.project-info a:hover{
	text-decoration: none;
	background-color: #000;
	color: #fff;
}
.jing{
	opacity: 0.5;
}
.fa-github, .fa-behance, .fa-pinterest{
	padding-right: 15px;
}
.x{
	position: fixed;
	bottom: 30px;
	right: 60px;
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.6s;
}
.x:hover{
	opacity: 1;
	transform: rotate(360deg);
}
.roofing-bg{
	background-image: url("../imgs/roofing.jpg");
}
.coffee-bg{
	background-image: url("../imgs/coffee.jpg");
}
.house-bg{
	background-image: url("../imgs/house.png");
}
.ets-bg{
	background-image: url("../imgs/ets.jpg");
}
.main-menu{
	text-align: center;
	height: 45px;
	width: 45px;
	position: fixed;
	left: 30px;
	top: 30px;
	cursor: pointer;
	z-index: 999;
}
.main-menu img{
	width: 100%;
}
.project-front-image{
	position: fixed;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	background-size: cover;
	background-position: center;
	overflow:hidden;
	transition: all 0.6s;
}

.project-front-left {
	left: 0;
	color: white;
    background-color: rgba(123, 116, 70, 0.3);
    background-image: url("../imgs/noise.png");
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    transition: all 0.6s; 
}

.project-front-right {
	right: 0;
	color: white;
    background-color: rgba(123, 116, 70, 0.3);
    background-image: url("../imgs/noise.png");
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-align: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contant-left{
	padding: 30px;
	display: block;
	border-right: 1px solid rgba(255, 255, 255, .2);
}
.contant-right{
    
    display: block;
    font-size: 15em;
}
.contant-right .hidden-xs{
	margin-left: -72px;
}
.white-background-text{
	background-color: #fff;
	padding: 1px 5px;
	letter-spacing: 2px;
	color: #000;
	font-family: 'Roboto Slab', serif;
}
.black-background-text{
	background-color: #000;
	padding: 1px 5px;
	letter-spacing: 2px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
}
.contant-left p.small{
	font-weight: 100;
}
.contant-left h4{
	line-height: 1.4;
}
.verticalLine {
	margin-bottom: 60px;
    position: relative;
    left: 50%;
    width: 1px;
    height: 70px;
    background-color: #999;
    clear: both;
    margin-top: 20px;
}
.bottom-line{
	left: 90%;
    margin: 15px 0;
    position: relative;
    text-align: right;
    width: 10%;
    height: 1px;
    background-color: #fff;
    right: 0;
}
.black-bottom-line{
	left: 90%;
    margin: 15px 0;
    position: relative;
    text-align: right;
    width: 10%;
    height: 1px;
    background-color: #000;
    right: 0;
}
.side-menu{
	padding: 30px 0;
	cursor: pointer;
	font-size: 10px;
	height: 100vh;
	z-index: 99;
	position: absolute;
	right: 0;
    background-image: url("../imgs/border-left.png");

}
.side-menu-name{
	text-transform: uppercase;
	width: 60px;
	display: block;
	height: 25%;
	transition: all 0.6s;
	opacity: 0.4;
}
.side-menu-name p{
	letter-spacing: 2px;
	transform: rotate(-90deg);
	 position: relative;
    top: 30%;

}
.line{
	background-color: #000;
    height: 2px;
    margin-left: -6px;
    margin-top: -8px;
    position: relative;
    top: 40%;
    width: 5px;
    opacity: 0.5;
    transition: all 0.6s;
}

.side-menu-name:hover, .side-menu-name-hovered{
	opacity: 1;
}

.side-menu-name:hover .line, .line-active{
	width: 30px;
	opacity: 1;
}

.right-side{
	height: 100vh;
	position: fixed;
	background-color: #fff;
	transition: all 0.6s;
}

.project-right {
	padding: 30px;
	letter-spacing: 1.1px;
	width: 90%;
	left: 0;
    position: absolute;
    height: 100%;
    overflow: hidden;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.6s;
    
}
.project-detail-contant{
	position: absolute;
	top: 80%;
    background: #fff;
    transition: all 0.6s;
 
}
.project-into{
	margin-bottom: 60px;
    margin-top: 120px;
}
.more{
	border-radius: 0;
	width: 10%;
	z-index: 9999;
	position: absolute;
	bottom: 15%;
	left: 45%;
	color: #fff;
	border-bottom: 1px solid #fff;
	transition: all 0.3s;
}
.more:hover{
	left: 40%;
	width: 20%;
	color: #fff;
	border-bottom: 2px solid #fff;
}
.move-to-left{
	left: -50%;
	transition: all 0.6s;
}
.move-to-right{
	right: -50%;
	transition: all 0.6s;
}

.modal-content{
	border-radius: 0;
}
.modal-body{
	background: #e6e6e6;
}
.horse{
	margin: 30px 0;
}