.carousel-inner > .item {
	height: 100%;
    width: 100%;
    position: fixed;
    background-size: cover;
    background-color: gray;
}




.bg-pattern{
	background-image: url("http://www.freevector.com/site_media/preview_images/FreeVector-Square-Patterns-Set.jpg");
}
.bg-illustration{
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/a6/d5/66/a6d566a8368965e0248e3383033c9570.jpg");
}
.bg-art{
	background-image: url("../img/art.jpg");
}

.title{
	font-size: 120px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}