body{
	font-size: 17px;
}
.padding-5{
	padding:5px;
}
.padding-30{
	padding: 30px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-top-60{
	margin-top: 60px;
}
.big-title{
	font-size: 60px;
}
.title{
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 1;
}
.description{
	color: #B1B1B1;
	font-size: 17px;
}
.bg-white{
	background-color: #fff;
}
.bg-gray{
	background-color: #EFEDEB;
}
.text-gray{
	color: #ccc;
}
.text-white{
	color: #fff;
}

.transition{
	transition: all 0.5s ease;
}
a:hover{
	text-decoration: none;
}















.jing-icon img{
	width: 45px;
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 99;
}





















.carousel{
	height: 100%;
}

.carousel-indicators{
	background-image: url("../img/diamond.png");
	background-repeat: no-repeat;
	width: 110px;
	height: 115px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	left: inherit;
	text-align: left;
	z-index: 0;
	
}
.indicators-wrap-right{
	transform: perspective( 200px ) rotateY(30deg);
}
.indicators-wrap-left{
	transform: perspective( 600px ) rotateY(-30deg);
}
.indicators-wrap{
    width: 110px;
    height: 115px;
    transition: all 0.5s ease;
    position: absolute;
    right: 15px;
    top: 15px;
}
.carousel-indicators li{
	text-indent: initial;
	background-color: transparent;
	border: transparent;
}
.carousel-indicators li p{
	position: absolute;
	visibility: hidden;
	left: 50px;
}
.carousel-indicators .active{
	background-color: transparent;

}
.carousel-indicators .active p{
	visibility: visible;
}
.carousel-control{
	left: auto;
	text-shadow:initial;
	width: auto;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right{
	margin: 0;
	top: auto;
}
.carousel-control.left,
.carousel-control.right{
	top: 41px;
    background-image: none;
    color: #999;
    width: 60px;
    height: 30px;
}
.carousel-control .glyphicon-chevron-left{
	left: 5px;

}
.carousel-control .glyphicon-chevron-right{
	right: 5px;
}
.indicators-total{
	    position: absolute;
    left: 50px;
    bottom: 0;
    text-align: center;
}
















.bg{
	min-height: 100vh;
    background-size: cover;
    transition: all 0.5s ease;
}


.bg-pattern{
	background-image: url("https://lh3.googleusercontent.com/-4iFXk82N7Vw/TXno8Q9gJLI/AAAAAAAAJYI/GuFGXwHcQww/s1600/5495239696_f68eb9af2e_z.jpg");
}
.bg-illustration{
	background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/hd/b9872c30905073.5638a16d5a0a5.jpg");
}
.bg-art{
	background-image: url("../img/art.jpg");
}
.bg-coding{
	background-image: url("../img/background_darker.jpg");
}
.home-title{
	margin-top: 25%;
	font-size: 6em;
	cursor: pointer;
	transition: all 0.5s ease;
	
}

.home-description{
	margin-top: -60px;
}

















.thumbnail-title{
	font-size: 95px;
}

.thumbnail-description{
	min-height: 600px;
}
.thumbnail-img{
	height: 300px;
}
.thumbnail-1, .bg-1{
	background-image: url("http://orig14.deviantart.net/405b/f/2012/180/b/f/pattern_variation_by_absurdwordpreferred-d55auet.jpg");
}

.thumbnail-2, .bg-2{
	background-image: url("http://www.patternsforcolouring.com/images/AR_pattern3.png");
}

.thumbnail-3, .bg-3{
	background-image: url("https://image.freepik.com/free-vector/bathroom-mosaic-pattern_23-2147497370.jpg");
}
.thumbnail-img p{
	visibility: hidden;
}
.thumbnail-img:hover p{
	visibility: visible;
}
a.icon-thumbnail{
	position: fixed;
	right: 15px;
	z-index: 99;
	top: 15px;
	border:5px solid black;
	padding: 5px;
	color:#000;
}
a.icon-thumbnail:hover{
	background-color: #000;
	color: #fff;
}













.horizontal-layout-info{
	background-color: #fff;
	padding: 15px;
}

#horizontal-layout img{
	padding-left: 0;
}
#horizontal-layout .col-sm-12{
	padding-left: 0;
	margin-bottom: 60px;
}













#project-bg{
	background-position:center;
	min-height: 100vh;
	background-size: cover;
}
#project-bg h1{
	text-transform: uppercase;
	cursor: pointer;
}
.project-description{
	padding-left: 15px;
	position: absolute;
	bottom: 120px;
	transition: all 0.5s ease;
}
.opacity3{
	opacity: 0.3;
}


.coffee a:hover{
	color: #AA874E;
}
.bg-coffee{
	background-image: url("../img/coffee2.jpg");
}
.border-coffee{
	border-left: 5px solid #AA874E;
}


.roofing a:hover{
	color: blue;
}
.bg-roofing{
	background-image: url("../img/4.jpg");
}
.border-roofing{
	border-left: 5px solid blue;
}




.carl a:hover{
	color: lightseagreen;
}
.bg-carl{
	background-image: url("../img/1.png");
}
.border-carl{
	border-left: 5px solid lightseagreen;
}
































.stay-bg{
	background-repeat: repeat;
	background-image: url("../img/bw.png");
	background-attachment: fixed;
}
