body{
	font-size: 17px;
}
.padding-5{
	padding:5px;
}
.padding-30{
	padding: 30px;
}
.margin-top-60{
	margin-top: 60px;
}
.title{
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 1;
}
.description{
	color: #B1B1B1;
	font-size: 17px;
}
.bg-white{
	background-color: #fff;
}
.bg-gray{
	background-color: #EFEDEB;
}
.text-gray{
	color: #ccc;
}


















.jing-icon img{
	width: 45px;
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 99;
}




.carousel-inner > .item {
	height: 100%;
    width: 100%;
    position: fixed;
    background-size: cover;
    transition: all 0.5s ease;
}




.bg-pattern{
	background-image: url("http://orig14.deviantart.net/405b/f/2012/180/b/f/pattern_variation_by_absurdwordpreferred-d55auet.jpg");
}
.bg-illustration{
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/a6/d5/66/a6d566a8368965e0248e3383033c9570.jpg");
}
.bg-art{
	background-image: url("../img/art.jpg");
}

.home-title{
	margin-top: 24%;
	font-size: 6em;
}
.home-description{
	margin-top: -60px;
}

















.thumbnail-title{
	font-size: 95px;
}

.thumbnail-description{
	min-height: 600px;
}
.thumbnail-img{
	height: 300px;
}
.thumbnail-1{
	background-image: url("http://orig14.deviantart.net/405b/f/2012/180/b/f/pattern_variation_by_absurdwordpreferred-d55auet.jpg");
}

.thumbnail-2{
	background-image: url("http://www.patternsforcolouring.com/images/AR_pattern3.png");
}

.thumbnail-3{
	background-image: url("https://image.freepik.com/free-vector/bathroom-mosaic-pattern_23-2147497370.jpg");
}
.thumbnail-img p{
	visibility: hidden;
}
.thumbnail-img:hover p{
	visibility: visible;
}
a.icon-thumbnail{
	position: fixed;
	right: 15px;
	z-index: 99;
	top: 15px;
	border:5px solid black;
	padding: 5px;
	color:#000;
}
a.icon-thumbnail:hover{
	background-color: #000;
	color: #fff;
}













.horizontal-layout-info{
	background-color: #fff;
	padding: 15px;
}

#horizontal-layout img{
	padding-left: 0;
}
#horizontal-layout .col-sm-12{
	padding-left: 0;
	margin-bottom: 60px;
}