body{
	font-size: 17px;
	overflow: hidden;
}
.padding-5{
	padding:5px;
}
.padding-30{
	padding: 30px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-top-60{
	margin-top: 60px;
}
.big-title{
	font-size: 60px;
}
.title{
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 0.9;
}
.description{
	color: #B1B1B1;
	font-size: 17px;
}
.bg-white{
	background-color: #fff;
}
.bg-gray{
	background-color: #EFEDEB;
}
.text-gray{
	color: #ccc;
}
.text-white{
	color: #fff;
}

.transition{
	transition: all 0.5s ease;
}
a:hover{
	text-decoration: none;
}

#letter-icon{
	cursor: pointer;
	padding: 3px;
	margin: 15px;
	display: block;
	font-size: 30px;
	color: #fff;
	width: 45px;
	height: 45px;
	text-align: center;
	text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
    background-color: #000;
}

#letter-icon:hover{
	box-shadow: inset 3px 4px 5px -2px rgba(131, 131, 131, 0.44);
	background-color: #DADADA;
    text-shadow: 0 1px 0 #cccccc, 
    			 0 2px 0 #c9c9c9, 
    			 0 3px 0 #bbbbbb, 
    			 0 4px 0 #b9b9b9, 
    			 0 5px 0 #aaaaaa, 
    			 0 6px 1px rgba(0, 0, 0, 0.1), 
    			 0 0 5px rgba(0, 0, 0, 0.1), 
    			 0 1px 3px rgba(0, 0, 0, 0.3), 
    			 0 3px 5px rgba(0, 0, 0, 0.2), 
    			 0 5px 10px rgba(0, 0, 0, 0.25), 
    			 0 10px 10px rgba(0, 0, 0, 0.2), 
    			 0 20px 20px rgba(0, 0, 0, 0.15);
	padding: 0px;
}











.jing-icon img{
	width: 45px;
	position: fixed;
	top: 30px;
	left: 30px;
	z-index: 99;
}

.menu-icon .glyphicon{
    font-size: 25px;
    position: fixed;
	right: 15px;
    color: black;
    padding: 5px;
    z-index: 99;
    border: 5px solid black;
}





footer{
	position: fixed;
	left: 30px;
	bottom: 30px;
}


footer p{
	font-size: 12px;
	margin-bottom:0px;
}





















#about{
	position: fixed;
	top: 45%;
	right: 15px;
	transform: translate(30px);
	transition: all 0.5s ease;
}
#about img{
	margin-left: 15px;
	width: 30px;
	transform: rotate(45deg);
	background-color: #000;
	transition: all 0.5s ease;
}
#about:hover{
	transform: translate(0px);
	
}

#about:hover img{
	transform: rotate(0deg);
	background-color: transparent;
}























.carousel{
	height: 100%;
}

.carousel-indicators{
	background-image: url("../img/diamond.png");
	background-repeat: no-repeat;
	width: 110px;
	height: 115px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	left: inherit;
	text-align: left;
	z-index: 0;
	
}
.indicators-wrap-right{
	transform: perspective( 200px ) rotateY(30deg);
}
.indicators-wrap-left{
	transform: perspective( 600px ) rotateY(-30deg);
}
.indicators-wrap{
    width: 110px;
    height: 115px;
    transition: all 0.5s ease;
    position: absolute;
    right: 30px;
    top: 30px;

}
.carousel-indicators li{
	text-indent: initial;
	background-color: transparent;
	border: transparent;
}
.carousel-indicators li p{
	position: absolute;
	visibility: hidden;
	left: 50px;
}
.carousel-indicators .active{
	background-color: transparent;

}
.carousel-indicators .active p{
	visibility: visible;
}
.carousel-control{
	left: auto;
	text-shadow:initial;
	width: auto;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right{
	margin: 0;
	top: auto;
}
.carousel-control.left,
.carousel-control.right{
	top: 41px;
    background-image: none;
    color: #999;
    width: 60px;
    height: 30px;
}
.carousel-control .glyphicon-chevron-left{
	left: 5px;

}
.carousel-control .glyphicon-chevron-right{
	right: 5px;
}
.indicators-total{
	    position: absolute;
    left: 50px;
    bottom: 0;
    text-align: center;
}
















.bg{
	min-height: 100vh;
    background-size: cover;
    transition: all 0.5s ease;
}



.bg-pattern{
	background-image: url("../img/pattern.jpg");
}

.bg-illustration{
	background-image: url("../img/39.jpg");
}
.bg-art{
	background-image: url("../img/5.png");
}
.bg-coding{
	background-image: url("../img/gif/app6.gif");
}
.home-title{
	margin-top: 33%;
	font-size: 5.5em;
	cursor: pointer;
	transition: all 0.5s ease;
	
}

.home-description{
	margin-top: -60px;
}

















.thumbnail-title{
	font-size: 95px;
}

.thumbnail-description{
	min-height: 600px;
}
.thumbnail-img{
	height: 300px;
}
.thumbnail-1, .bg-1{
	background-image: url("http://orig14.deviantart.net/405b/f/2012/180/b/f/pattern_variation_by_absurdwordpreferred-d55auet.jpg");
}

.thumbnail-2, .bg-2{
	background-image: url("http://www.patternsforcolouring.com/images/AR_pattern3.png");
}

.thumbnail-3, .bg-3{
	background-image: url("https://image.freepik.com/free-vector/bathroom-mosaic-pattern_23-2147497370.jpg");
}
.thumbnail-img p{
	visibility: hidden;
}
.thumbnail-img:hover p{
	visibility: visible;
}
a.icon-thumbnail{
	position: fixed;
	right: 15px;
	z-index: 99;
	top: 15px;
	border:5px solid black;
	padding: 5px;
	color:#000;
}
a.icon-thumbnail:hover{
	background-color: #000;
	color: #fff;
}













.horizontal-layout-info{
	background-color: #fff;
	padding: 15px;
}

#horizontal-layout img{
	padding-left: 0;
}
#horizontal-layout .col-sm-12{
	padding-left: 0;
	margin-bottom: 60px;
}













#project-bg{
	background-position:center;
	min-height: 100vh;
	background-size: cover;
}
#project-bg h1{
	text-transform: uppercase;
	cursor: pointer;
}
.project-description{
	padding-left: 15px;
	position: absolute;
	bottom: 120px;
	transition: all 0.5s ease;
}
.opacity3{
	opacity: 0.3;
}


.coffee a:hover{
	color: #AA874E;
}
.bg-coffee{
	background-image: url("../img/coffee2.jpg");
}
.border-coffee{
	border-left: 5px solid #AA874E;
}


.roofing a:hover{
	color: blue;
}
.bg-roofing{
	background-image: url("../img/4.jpg");
}
.border-roofing{
	border-left: 5px solid blue;
}




.carl a:hover{
	color: lightseagreen;
}
.bg-carl{
	background-image: url("../img/1.png");
}
.border-carl{
	border-left: 5px solid lightseagreen;
}































.stay-bg{
	background-repeat: repeat;
	background-image: url("../img/bw.png");
	background-attachment: fixed;
}
